.khuyenMai{
    padding-bottom:2rem;
    .khuyenMai__title{
        .row--list--m{
            margin:0 30px;
            padding: 20px 0;
        }
    }
    
    .khuyenMai__img{
        .row--list--m{
            margin:0 30px;
        }
    }
}
